{
  "arrowParens": "avoid",
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "quoteProps": "as-needed",
  "printWidth": 120
}
